{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app.page.homepage') }}
{% endblock %}

{% block body %}
    <div class="container">
        <div>
            <p class="title police">{{ weatherData['city'] }}</p>
            <p>{{ todayDate }}</p>
            <h3>{{ weatherData['description'] }}</h3>
            <p class="temp">{{ weatherData['temperature'] }}°C</p>
            <p class="police">tempéature minimale: {{ weatherData['minTemp'] }}°C</p>
            <p class="police">tempéature maximale: {{ weatherData['maxTemp'] }}°C</p>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>

        element = $('input[type="text"]').unwrap();
    </script>
    {{ encore_entry_script_tags('app.page.homepage') }}
{% endblock %}