<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Bienvenue !{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<header>
    <h2 class="pt-2">
        WeatherApp</h2>
    <nav>
    </nav>
</header>
<body>
<div class="cover">
    <h1 class="police">LE METEO PARTOUT OU VOUS ALLEZ</h1>
    {{ form_start(form, {'action': path('homepage_action'), 'method': 'POST', 'attr': {'class': 'flex-form'}}) }}
        {{ form_row(form.city, {'attr': {'type': 'search'}}) }}
        <input type="submit" class="btn btn-primary text-center" value="Soumettre">
    {{ form_end(form) }}
    {% block body %}
    {% endblock %}
</div>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
<footer class="container-fluid d-flex justify-content-center align-items-center"">
<span>Copyright CHOI Abaham @ 2020</span>
</footer>
</body>
</html>